<div class="wizard">

  <div class="step-container">
    <div class="step" [class.active]="step === 1">1</div>
    <span>Formulario</span>
  </div>

  <div class="line"></div>

  <div class="step-container">
    <div class="step" [class.active]="step === 2">2</div>
    <span>Preview</span>
  </div>

  <div class="line"></div>

  <div class="step-container">
    <div class="step" [class.active]="step === 3">3</div>
    <span>Firma</span>
  </div>

  <div class="line"></div>

  <div class="step-container">
    <div class="step" [class.active]="step === 4">4</div>
    <span>Confirmación</span>
  </div>

</div>